<template>
  <form>
    <input type="file" @change="fileChange($event)" />
  </form>
</template>

<script>


import JSZip from 'jszip';
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    fileChange(event) {
      var files = event.target.files;
      var jszip = new JSZip();
      for (var i=0; i<files.length; i++) {
        jszip.file(files[i].name, files[i]);
      }

      jszip.generateAsync({ type: 'base64' }).then(function(content) {

        console.log(content);
      var oReq = new XMLHttpRequest();
      //oReq.responseType = 'json';
      oReq.onreadystatechange = function() {
          if (oReq.readyState == XMLHttpRequest.DONE) {
              console.log(oReq.response);
          }
      }

      //oReq.open("GET", "http://dsl-simple-backend.cluster1.vorrarit.com/dsl-simple-backend/account/info/" + text1.value + "/1");
      oReq.open("POST", "http://localhost:8081/upload/file");
      oReq.send(content);

      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
